<h2 align="center">Comprehensive Information:</h2>



<div class="card">
  <div class="card-header">
    Article ID: <%= @article.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Title: <%= link_to @article.title, article_path(@article) %></h5>
    <h5 class="card-text">Description: <p><%= simple_format(@article.description) %></p></h5>

    <div class="article-actions">
     <%= link_to "Edit this Article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
     <%= link_to "Delete Article", article_path(@article), method: :delete,
         data: {confirm: "Are you sure you want to delete?"},
         class: "btn btn-xs btn-danger" %>
     <%= link_to "View All Articles", articles_path, class: "btn btn-xs btn-success" %>


   </div>


  </div>
</div>
